.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
dist
build
*.egg-info

tests
benchmark
examples
docs
media
assets

*.md
!README.md
!LICENSE
README.zh-CN.md

.DS_Store
.idea
.vscode
